<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs", {Solapa: "Productos"}) %>
</head>
<body>
    <%- include("./partials/headerGeneral.ejs") %>
    <h1 style="text-align: center;">Nuestros productos</h1>
    <article>
        <% for(let i=0; i< products.length; i++) { %> 
         <div class="allproducts"> 
            <a href="/products/detail/<%= products[i].id %>"> 
             <div class="precio">
                <h2><%= products[i].name %></h2><br>
                <p>$<%= products[i].price %></p> 
             </div>                  
        <img src="/uploads/product/<%= products[i].image.length > 0 ? products[i].image[0].filename : null %>" alt="fullOutfit">
        </a>  
          <!-- //IMAGEN POR DEFAULT  = NULLL -->
        </div>
        <% } %> 
    </article>
    
</body>
</html>