<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs", {Solapa: "Productos" }) %>
</head>

<body>
    <%- include("./partials/headerGeneral.ejs") %>
    <div class="banner">
        <div class="banner-text">
          <h1>Nuestros <span>  </span>   productos</h1>
          <h3>Unisex Fashion</h3>
        </div>
      </div>
        <div class="allproducts">
            <% if( products.length > 0){ %>
            <% for(let i=0; i< products.length; i++) { %>
            <article>
              
                    <a href="/products/detail/<%= products[i].id %>">
                        <div class="price">
                            <h2>
                                <%= products[i].name %>
                            </h2>
                            <br>
                            <p>
                                $<%= products[i].price %>
                            </p>
                        </div>
                        <img class="fall" src="/uploads/product/<%= products[i].image.length > 0 ? products[i].image[0].filename : null %>"
                            alt="fullOutfit">
                    </a>
                
            </article>
            <% } %>
            <% } else { %>
                <h2 style="padding: 30px;">No se encontraron productos para esta búsqueda</h2>
            <% } %>
                <br>
        </div>
        <%- include("./partials/footer.ejs") %>
</body>

</html>