<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head.ejs", {Solapa:"Full Diseño | Home"}) %>

    <body>
        <%- include("./partials/headerIndex.ejs") %>
        <h1 class="novedades">Novedades</h1>
            <main class="productosIndex">
                <% for(let i=0; i< products.length; i++) { %> 
                <article>
                    <a href="/products/detail/<%= products[i].id %>">
                    <div class="nombre-precio">
                        <h2 class="name"><%= products[i].name %></h2><br>
                        <p class="name">$<%= products[i].price %></p>
                    </div>
                    <span>
                        <p class="nuevo">NUEVO</p>
                        <i class="fa fa-heart"></i>
                    </span>
                        <img class="fall" src="/uploads/product/<%= products[i].image.length > 0 ? products[i].image[0].filename : null %>" alt="fullOutfit">
                    </a>
                </article>
                <% } %> 
            </main>

            
            <%- include("./partials/footer.ejs") %>

                <script src="/js/javascript.js" type="text/javascript"></script>
                
    </body>

</html>