<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs", {Solapa:"Full Diseño | Perfil"}) %>

    <body class="profile">
        <%- include("./partials/headerGeneral.ejs") %>
            <h1 style="text-align: center;">este es tu perfil <%= user.name %>
            </h1>
            <section class="caja1">
                <div class="caja2">
                    <div class="cajita">
                    <img src="/uploads/avatar/<%= user.avatar %>" alt="foto de perfil">
         
         
                    <div class="caja3">
                        <p>Nombre: <%= user.name %>
                        </p>
                        <p>Email: <%= user.email %>
                        </p>
                        <p>Password: ••••••••••
                        </p>
                    </div>
                 </div>
                    <div class="caja4">
                            
                     <a href="/user/edit/<%= user.id %> ">
                         <button class="btn profile-edit-btn">Edit Profile</button>
                         <button><i class="far fa-edit fa-lg"></i></button>
                     </a>
                        <!-- <form action="/user/delete/<%= user.id %>?_method=DELETE" method="POST">
                            <button class="btn profile-edit-btn">Delete Profile</button>
                            <button><i class="fa fa-user-times fa-lg"></i></button>
                        </form> -->
                    </div>
                    <div class="prev">
                     <a href="/admin/config" class="previousRound" style="text-align: center;">&#8249;</a>
                     <a href="#" class="nextRound">&#8250;</a>   
                 </div>
                 </div>  
                 
            </section>
            
            

    </body>

</html>