<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head.ejs", {Solapa:"Detalle de producto"}) %>

    <body>
        <%- include("./partials/headerGeneral.ejs") %>
            <main class="productDetail">
                <section class="imagenes">
                    <img src="/uploads/product/<%= product.image[0].filename %>" alt="" class="seleccionada">
                    <div class="imagenesPeque">
                        <img src="/img/sueterVerde-3.JPG" alt="buzo-verde">
                        <img src="/img/sueterVerde-4.JPG" alt="buzo-verde2">
                        <img src="/img/sueterVerde-5.JPG" alt="buzo-verde3">
                        <img src="/img/sueterVerde-6.JPG" alt="buzo-verde4">
                    </div>
                </section>
                <section class="infoProducto">
                    <div class="tituloPrecio">
                        <h1>
                            <%= product.name %>
                        </h1>
                        <h4>$<%= product.price %>
                        </h4>
                    </div>
                    <div class="colores">
                        <h2>Colores disponibles</h2>
                        <% if (typeof color !="undefined" ) { %>
                            <% for(let i=0; i< color.length; i++) {%>
                                <% if(product.color_id==color[i].id){ %>
                                    <select class="colorProducto">
                                        <option selected value=<%=color[i].id %>><%= color[i].color %>
                                        </option>
                                    </select>
                                    <%} %>
                                        <% } %>
                                            <% } %>
                    </div>
                    <div class="descripcion">
                        <h2>Descripción</h2>
                        <p>
                            <%= product.description %>
                        </p>
                    </div>
                    <h2>Talles disponibles</h2>
                    <div class="editarborrar">
                        <div class="selAgregar">

                            <% if (typeof talle !="undefined" ) { %>
                                <% for(let i=0; i< talle.length; i++) {%>
                                    <% if(product.size_id==talle[i].id){ %>
                                        <select class="colorProducto">
                                            <option selected value=<%=talle[i].id %>><%= talle[i].size %>
                                            </option>
                                        </select>
                                        <% } %>
                                            <%} %>
                                                <% } %>
                        </div>
                        <button type="submit" class="agregarCarrito">
                            <div class="contenidoAgregarCarrito"><i class="fa fa-shopping-cart"></i>
                                <a href="/products/cart">
                                    <h2 style="color: white;">Agregar al carrito</h2>
                                </a>
                            </div>
                        </button>
                    </div>
                    <a href="#" class="guiaTalles">Guía de Talles</a>
                    <br>

                   
                        <div class="editarborrar">
                            <a class="agregarCarrito" href="/admin/edit/<%= product.id %>"><button style=color:white
                                    type="submit">EDITAR</button></a>
                            <form action="/admin/delete/<%= product.id %>?_method=DELETE" method="POST">
                                <button class="agregarCarrito" style=color:white type="submit">BORRAR</button>
                            </form>
                        </div>
                     
                </section>
            </main>
            <h1 class="similares">Productos Similares</h1>
            <section class="productosSimilares">

                <div class="imgProdSimilar">
                    <img src="/img/coupleHeader.JPG" alt="pareja con sueter blanco">
                    <img src="/img/fullOutfit-2.jpg" alt="pareja con overall">
                    <img src="/img/camisaJean-3.JPG" alt="pareja agachada con camisa blanca y jean">
                </div>
            </section>


            <%- include("./partials/footer.ejs") %>


    </body>